@media only screen and (min-width: 768px) {

  #header {
    padding: 25px 155px;
    justify-content: space-between;
  }

  #hamburger-menu {
    display: none;
  }

  #navigation-menu {
    display: flex;
  }

  nav > ul {
    display: initial;
  }

  li {
    display: inline;
  }

  nav > ul > li > a {
    margin-left: 32px;
    color: #344563;
  }

  #headline-container {
    background: url(images/desktop-images/Header\ bg.svg) no-repeat;
    background-size: cover;
    margin-left: 35px;
    margin-right: 8px;
    padding: 240px 225px 180px ;
    border-bottom-left-radius: 150px;
  }

  #headline-section {
    padding-top: 48px;
    padding-bottom: 75px;
    border-bottom-left-radius: 150px;
  }

  .intro,
  .description {
    width: auto;
    height: auto;
  }

  .intro {
    font-size: 48px;
    line-height: 60px;
  }

  .description {
    font-size: 20px;
    line-height: 28px;
  }
}
