@media only screen and (min-width: 768px) {
  body {
    display: initial;
  }

  header {
    padding: 25px 155px;
    justify-content: space-between;
    right: 0;
    left: 0;
    width: auto;
  }

  #hamburger-menu {
    display: none;
  }

  nav > ul > li > a {
    color: #344563;
  }

  nav > ul {
    display: flex;
    justify-content: space-between;
    width: 260px;
  }

  #headline-container {
    background: url(images/desktop-images/Header\ bg.svg) no-repeat;
    background-position: left 50% top 0%;
    padding: 240px 225px 180px;
    border-bottom-left-radius: 150px;
  }

  #headline-section {
    padding-top: 40px;
    padding-bottom: 75px;
    border-bottom-left-radius: 150px;
  }

  .intro {
    font-size: 48px;
    line-height: 60px;
  }

  .intro > br:nth-child(2) {
    display: none;
  }

  .description {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
    width: auto;
  }

  #work-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 114px;
  }

  .project-section {
    display: flex;
    width: 100%;
    padding: 24px;
    overflow: auto;
  }

  .project-img {
    display: none;
  }

  .project-img-desktop {
    display: initial;
    max-width: 100%;
    height: auto;
    margin-right: 46px;
  }

  .img2,
  .img4 {
    order: 2;
    margin-right: initial;
    margin-left: 46px;
  }

  .project-info {
    margin-top: 16px;
  }

  .project-title {
    font-size: 40px;
    line-height: 52px;
  }

  .project-info-top {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 20px;
  }

  .job-place {
    font-weight: 500;
  }

  .project-text {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .project-languages {
    margin-bottom: 40px;
  }

  #about-me-section {
    padding: 142px 142px 134px;
    display: flex;
    border-top-right-radius: 150px;
    overflow: hidden;
  }

  #my-knowledge {
    flex: 1;
  }

  #my-info {
    margin-right: 37px;
    max-width: 447px;
  }

  .resume-list > ul {
    display: flex;
  }

  .resume-list-item {
    width: 122px;
    height: 120px;
    margin-right: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  form {
    width: 100%;
    background: url(images/desktop-images/contact-form-background-desktop.svg) no-repeat;
    background-size: contain;
    background-color: #6070ff;
    padding-top: 140px;
    padding-bottom: 130px;
  }

  input,
  textarea {
    max-width: 447px;
  }

  form > p {
    max-width: 570px;
  }

  #headline-container > .intro {
    animation-duration: 3s;
    animation-name: slidein;
  }

  #headline-container > .description {
    animation-duration: 3.5s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .project-button {
    transition: background-color ease-in 0.5s;
  }

  #button-wrapper {
    align-self: center;
  }

  .error-message {
    padding: 10px 20px;
    max-width: 150px;
  }
}
