p,
h1,
h2,
h3,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f7f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.display-none {
  display: none;
}

.not-scrollable {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.blue {
  color: #6070ff;
}

#header {
  display: flex;
  align-items: center;
  background: white;
  padding: 24px 36px 24px 24px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  margin-right: 223px;
  white-space: nowrap;
  cursor: pointer;
}

#hamburger-menu {
  cursor: pointer;
}

nav > ul {
  display: none;
}

#headline-section {
  background-color: white;
  border-bottom-left-radius: 100px;
}

#headline-container {
  background:
    url(images/header-shapes\ mobile.svg) no-repeat,
    white;
  padding-top: 114px;
  padding-bottom: 136px;
  padding-left: 24px;
  border-bottom-left-radius: 100px;
}

.intro {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
  margin-bottom: 12px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 12px;
}

.social-icons {
  display: flex;
}

.social-media-icon {
  margin-right: 20px;
}
