.project-section {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: white;
  box-sizing: border-box;
  width: 327px;
  padding: 16px 16px 28px 16px;
}

#work-section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 88px;
  padding: 114px 24px;
}

.project-img-desktop {
  display: none;
}

.project-img {
  height: 225px;
  width: 295px;
}

.project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project-info {
  margin-top: 12px;
}

.project-info-top {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.project-info-top > * {
  margin-right: 12px;
}

.gray {
  color: #7a869a;
}

.project-text {
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
  font-size: 15px;
}

.project-languages {
  display: flex;
  margin-bottom: 24px;
}

.language {
  background-color: #ebebff;
  color: #6070ff;
  margin-right: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 8px;
  letter-spacing: 0.03em;
}

.project-button {
  font-family: inherit;
  padding: 12px;
  border: 1px solid #6070ff;
  background-color: white;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.project-button:disabled {
  color: #5e6c84;
  border-color: #c1c7d0;
}

.project-button:hover:enabled {
  background: #6070ff;
  color: white;
  box-shadow: calc(0px + 0px) 8px 16px rgba(64, 83, 252, 0.24);
}

.project-button:active:enabled {
  background: #2230d2;
  color: white;
}

#about-me-section {
  background-color: white;
  padding: 114px 24px;
  border-top-right-radius: 100px;
}

#my-knowledge {
  padding: 24px 12px;
  box-sizing: border-box;
}

.resume-button {
  width: 162px;
  height: 48px;
  margin-bottom: 24px;
  margin-top: 22px;
}

.knowledge-type-container,
.resume-list-item {
  display: flex;
  align-items: center;
}

.knowledge-type-container {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  justify-content: space-between;
  padding-right: 30px;
}

.resume-list-item {
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-bottom: 12px;
  padding: 9px 12px;
  box-sizing: border-box;
}

.resume-list-item > img {
  margin-right: 16px;
}

.resume-frameworks {
  margin-bottom: 24px;
  margin-top: 36px;
}

.resume-frameworks,
.resume-skills {
  border-bottom: 1px solid #dfe1e6;
}

#my-info > .connect {
  margin-bottom: 30px;
}
