p,h1,h2,body {
  margin: 0;
}

body {
  width: 375px;
  font-family: 'Poppins', sans-serif;
  background: #F7F7F9;
}

.blue {
  color: #6070FF;
}

#header {
  display: flex;
  align-items: center;
  padding: 24px 36px 24px 24px;
  background: white;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  margin: 0px 223px 0px 0px ;
  white-space: nowrap;
}

#headline-section {
  padding: 114px 0px 136px 24px;
  background:
   url(images/header-shapes\ mobile.png) no-repeat,white;
  border-bottom-left-radius: 100px;
}

#intro {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;

  color: #172B4D;

  width: 327px;
  height: 150px;
  margin-bottom: 12px;
}

#description {
  font-size: 16px;
  line-height: 24px;

  color: #344563;

  width: 327px;
  height: 146px;
  margin-bottom: 12px;
}

#connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #7F8CFF;

  margin-bottom: 12px;
}

#social-icons {
  display: flex;
}

.social-media-icon {
  margin-right: 20px;
}

