@media only screen and (min-width: 768px) {
  form {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 130px;
  }

  input,
  textarea {
    max-width: 447px;
  }

  form > h2 {
    margin-bottom: 20px;
  }

  form > p {
    max-width: 570px;
    font-size: 20px;
  }

  /* #headline-container > .intro {
    animation-duration: 3s;
    animation-name: slidein;
  }

  #headline-container > .description {
    animation-duration: 3.5s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  } */

  .project-button {
    transition: background-color ease-in 0.5s;
  }

  #button-wrapper {
    align-self: center;
  }

  .error-message {
    padding: 10px 20px;
    max-width: 150px;
  }
}

.display-none {
  display: none;
}

.not-scrollable {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  #work-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
