@media only screen and (min-width: 768px) {
  #work-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-columns: 1fr;
    gap: 24px;
    padding: 8%;
  }

  .project-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .project-languages {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  #about-me-section {
    padding: 142px;
    display: flex;
    border-top-right-radius: 150px;
  }

  #my-knowledge {
    width: 100%;
  }

  #my-info {
    margin-right: 37px;
    max-width: 447px;
  }

  .resume-list-content {
    display: flex;
    flex-wrap: wrap;
  }

  .resume-list-item {
    width: 122px;
    height: 120px;
    margin-right: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  form {
    width: 100%;
    background-color: #6070ff;
    padding-top: 80px;
    padding-bottom: 130px;
  }

  input,
  textarea {
    max-width: 447px;
  }

  form > h2 {
    margin-bottom: 40px;
  }

  form > p {
    max-width: 570px;
    font-size: 20px;
  }

  #headline-container > .intro {
    animation-duration: 3s;
    animation-name: slidein;
  }

  #headline-container > .description {
    animation-duration: 3.5s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .project-button {
    transition: background-color ease-in 0.5s;
  }

  #button-wrapper {
    align-self: center;
  }

  .error-message {
    padding: 10px 20px;
    max-width: 150px;
  }
}

.display-none {
  display: none;
}

.not-scrollable {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  #work-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
