footer {
  background-color: white;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #6070ff;
  padding: 45px;
  border-top-left-radius: 100px;
  box-sizing: border-box;
}

form > h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: white;
  margin-bottom: 12px;
}

form > p {
  color: #ebebff;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 15px;
}

label {
  color: #ebebff;
  padding-bottom: 8px;
}

textarea {
  height: 170px;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
}

textarea::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.form-button {
  color: #6070ff;
  background-color: white;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 140px;
  height: 48px;
  font-family: inherit;
  margin-top: 22px;
}

::-webkit-input-placeholder,
input {
  font-size: 17px;
  color: #172b4d;
  line-height: 20px;
}

#button-wrapper {
  display: flex;
  align-self: flex-start;
}

.error-message {
  margin-left: 16px;
  margin-top: 16px;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  height: fit-content;
}
