p,
h1,
h2,
h3,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f7f7f9;
  padding-top: 75px;
}

.blue {
  color: #6070ff;
}

header {
  display: flex;
  align-items: center;
  background: white;
  padding: 24px 36px 24px 24px;
  height: 75px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#hamburger-menu {
  cursor: pointer;
}

nav {
  margin-left: auto;
}

nav > ul {
  display: none;
}

.nav-link:hover {
  color: #6070ff;
}

#headline-section {
  background-color: white;
  border-bottom-left-radius: 100px;
}

#headline-container {
  padding: 114px 24px 144px;
  border-bottom-left-radius: 100px;
}

.intro {
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

.intro span {
  color: #6070ff;
}

.description {
  color: #172b4d;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 12px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 12px;
}

.social-icons {
  display: flex;
}

.social-media-icon {
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  body {
    display: initial;
  }

  header {
    padding: 25px 155px;
    justify-content: space-between;
    right: 0;
    left: 0;
    width: auto;
  }

  .highlight {
    color: #6070ff;
  }

  #hamburger-menu {
    display: none;
  }

  nav > ul > li {
    color: #344563;
  }

  nav > ul {
    display: flex;
    justify-content: space-between;
    width: 260px;
  }

  #headline-container {
    padding: 225px 0 225px 10%;
    border-bottom-left-radius: 150px;
  }

  #headline-section {
    padding-top: 40px;
    padding-bottom: 75px;
    border-bottom-left-radius: 150px;
  }

  .intro {
    font-size: 54px;
    line-height: 60px;
  }

  .description {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 24px;
  }

  .intro > br:nth-child(2) {
    display: none;
  }
}
