p,
h1,
h2,
h3,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f7f7f9;
  padding-top: 75px;
}

.blue {
  color: #6070ff;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

header {
  display: flex;
  align-items: center;
  background: white;
  padding: 24px 36px 24px 24px;
  height: 75px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#hamburger-menu {
  cursor: pointer;
}

nav {
  margin-left: auto;
}

nav > ul {
  display: none;
}

.nav-link:hover {
  color: #6070ff;
}

#headline-section {
  border-bottom-left-radius: 100px;
  background-image: url(../images/profilna2-removebg.png);
  background-position: right -100px bottom;
  background-size: 350px;
  background-repeat: no-repeat;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#overlay {
  background: linear-gradient(
    90deg,
    rgba(96, 112, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-bottom-left-radius: 150px;
}

#headline-container {
  padding: 100px 100px 225px 24px;
  font-weight: bold;
}

.intro {
  font-size: 18px;
}

.description {
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 12px;
}

.intro,
.description {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 239, 96, 1) 30%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.intro span {
  font-size: 34px;
}

.connect {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #ffef60;
  margin-bottom: 12px;
}

.social-icons {
  display: flex;
}

.social-media-icon {
  margin-right: 20px;
}

@media only screen and (min-width: 550px) {
  #headline-section {
    background-size: 500px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    display: initial;
  }

  header {
    padding: 25px 155px;
    right: 0;
    left: 0;
    width: auto;
    justify-content: center;
  }

  nav {
    margin-left: 0;
  }

  .highlight {
    color: #6070ff;
  }

  #hamburger-menu {
    display: none;
  }

  nav > ul > li {
    color: #344563;
  }

  nav > ul {
    display: flex;
    justify-content: space-between;
    width: 260px;
  }

  #headline-container {
    padding: 225px 225px 225px 114px;
  }

  #headline-section {
    padding-bottom: 75px;
    background-size: 600px;
  }

  .intro {
    font-size: 34px;
    line-height: 60px;
  }

  .intro span {
    font-size: 70px;
  }

  .description {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 24px;
  }

  .intro > br:nth-child(2) {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  #headline-section {
    background-size: 700px;
    background-position: bottom right;
  }
}
