.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  overflow: auto;
  width: 375px;
  background: rgba(193, 199, 208, 0.8);
  backdrop-filter: blur(3px);
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-content > .project-info-top {
  margin-top: 22px;
  margin-bottom: 20px;
}

.popup-content {
  background-color: white;
  box-sizing: border-box;
  padding: 20px 16px;
  position: relative;
  border-radius: 15px;
}

.icon-cancel {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 15px;
  top: 30px;
  cursor: pointer;
}

.popup-project-img {
  width: 100%;
  margin-bottom: 12px;
}

.popup-project-languages {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.language {
  margin-bottom: 5px;
}

.popup-buttons {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  border-top: 1px solid #ebecf0;
  padding-top: 25px;
}

.popup-buttons > .project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.project-button > img {
  margin-left: 14px;
}

.project-img-desktop-popup {
  display: none;
}

.projects-navigation-buttons {
  display: none;
}

@media only screen and (min-width: 768px) {
  .popup {
    width: 100%;
    justify-content: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .popup-content {
    padding: 24px;
    max-width: 70%;
    align-self: center;
  }

  .popup-content > .project-text {
    line-height: 30px;
  }

  .popup-project-img {
    display: none;
  }

  .project-img-desktop-popup {
    display: initial;
    width: 100%;
    margin-bottom: 30px;
  }

  .popup-content > .project-info-top {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .popup-bottom {
    display: flex;
    margin-bottom: 30px;
  }

  .badges-buttons {
    margin-left: 30px;
  }

  .icon-cancel {
    right: 30px;
  }

  .projects-navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 30%;
    margin-bottom: 10px;
  }

  .projects-navigation-buttons > button {
    border: none;
    font-family: inherit;
    font-size: 16px;
    background: none;
    cursor: pointer;
    color: #344563;
    display: flex;
    gap: 8px;
  }

  .projects-navigation-buttons > button:hover {
    color: #6070ff;
  }
}
